body{
    color:midnightblue;
}

body h1{
    font-family: emoji;
}

nav .navbar navbar-expand-lg navbar-dark bg-dark{
    background-color: purple;
}

.nasa{
    max-width: 40%;
}

.explanation{
    padding-top:20pt;
}